<section class="section">
    <div class="container">
        <h1 class="title size-4"><%= actionType %></h1>
        <form method="post" action="<%= url %>">
            <div class="field">
                <label class="label">Nome</label>
                <div class="control">
                    <input class="input" type="text" name="checklist[name]" placeholder="Lista de Tarefas" value="<%= checklist.name %>">
                    <% if(checklist.error) { %>
                        <p class="is-danger help"><%= checklist.error %></p>
                    <% } %>
                </div>
            </div>
            <button type="submit" class="button is-success">Salvar</button>
            <a href="/checklists" class="button">Cancelar</a>
        </form>
    </div>
</section>