<section class="section">
    <div class="container">
        
        <form method="post" action="<%= url %>">
            <div class="field">
                <label class="label">Nome</label>
                <div class="control">
                    <input class="input" type="text" name="checklist[name]" placeholder="Lista de Tarefas" value="<%= checklist.name %>">
                    <% if(checklist.errors && checklist.errors.name.message) { %>
                        <p class="is-danger help">O campo de nome é obrigatório</p>
                    <% } %>
                </div>
            </div>
            <button type="submit" class="button is-success">Salvar</button>
            <a href="/checklists" class="button">Cancelar</a>
        </form>
    </div>
</section>