<%- include("../layouts/header", { title: "Nova Lista" }) %>
<%- include("../layouts/menu") %>

<section class="section">
    <div class="container">
        <%- include("./form", { actionType: "Nova Lista", url: "/checklists?_method=post", checklist: checklist}) %>
    </div>
</section>

<%- include("../layouts/footer") %>